<!doctype html>

<html>
<head>
  <title>Workshop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
    <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">


  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
    <li class="nav-item"><a class="nav-link" href="/store">Store</a></li>
    <li class="nav-item"><a class="nav-link" href="/recommendation">Recommendation</a></li>
    <li class="nav-item"><a class="nav-link" href="/characteristic">Characteristic</a></li>
    <li class="nav-item"><a class="nav-link" href="/vendor">Vendor</a></li>
    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
  </ul>

    </nav>
        <table class="table">
            <thread class = "thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Specification</th>
                <th scope="col">Price</th>

             </tr>
            {% for item in result %}
            <tr>
                <td scope="row">{{ item.characteristic_id }}</td>
                <td scope="row">{{ item.characteristic_specification }}</td>
                <td scope="row">{{ item.characteristic_price }}</td>
                <td>
                    <a href="/edit_characteristic/{{item.characteristic_id}}" type="button" class="btn btn-warning">Edit</a>
                    <a href="/delete_characteristic/{{item.characteristic_id}}" type="button" class="btn btn-danger">Delete</a>
                </td>
             </tr>
            {% endfor %}
            </thread>
        </table>

    <td> <a href="/create_characteristic" type="button" class="btn btn-success">New Characteristic</a> </td>



    </body>
</html>

