{% extends "index.html" %}
 
{% block content %}
 
<!--https://www.codeply.com/go/nhbdi2FkJm-->
 
 
<div class="col-md-6 mx-auto">
 
    <!-- form card login -->
    <div class="card rounded-0">
 
        <div class="card-header">
            <h3 class="mb-0">{{form_name}}</h3>
        </div>
        <div class="card-body">
 
            <form class="form"  action = "/create_characteristic" method="POST">
                {{ form.hidden_tag() }}


            <div class="form-group">
                {{ form.characteristic_id.label }}
                {{ form.characteristic_id(class_="form-control") }}

                {% if form.characteristic_id.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.characteristic_id.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>


            <div class="form-group">
                {{ form.characteristic_specification.label }}
                {{ form.characteristic_specification(class_="form-control") }}
 
                {% if form.characteristic_specification.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.characteristic_specification.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>
 
 
            <div class="form-group">
                {{ form.characteristic_price.label }}
                {{ form.characteristic_price(class_="form-control") }}

                {% if form.characteristic_price.errors%}
                    <div class="alert alert-danger" role="alert">
                        {% for message in form.characteristic_price.errors %}
                             <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {%endif%}
            </div>

 
                {{ form.submit(class_="btn btn-success") }}
            </form>
        </div>
        <!--/card-block-->
    </div>
    <!-- /form card login -->
 
</div>
 
</div>
 
 
 
 
{% endblock %}