{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Group</h1>
    {% from "formhelpers.html" import render_field %}
    <form id="form">
      <dl>
        {% for field in form %}
          {{ render_field(field) }}
        {% endfor %}
      </dl>
      <p>
        <input type="button" id="update" value="Update group">
    </form>
    <br>
    <input type="button" onclick="deleteGroup({{ group.id }})" value="Delete group">

  </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='js/group_crud.js')}}"></script>
{% endblock %}